@tailwind base;
@tailwind components;
@tailwind utilities;

* body {
  color: white;
  background: rgb(73,43,129);
  height: 100%;
  width: 100vh;
}

table {
  width: 100%;
}

td, th {
  text-align: center;
  padding: 8px;
}

tr {
  border-bottom: 1px solid #dddddd;
  height: 65px;
}